export DuckDNS_Token="{{ duck_dns_token }}"

acme.sh --issue --dns dns_duckdns -d {{ inventory_hostname }} --key-file ./nginx/certs/{{ inventory_hostname }}.key  --fullchain-file ./nginx/certs/{{ inventory_hostname }}.crt