MYSQL_ROOT_PASSWORD="{{ lookup('ansible.builtin.password', '/dev/null', seed=inventory_hostname) }}"
MYSQL_DATABASE=wordpress_db
MYSQL_USER=mariadbuser
MYSQL_PASSWORD="{{ lookup('ansible.builtin.password', '/dev/null', seed=inventory_hostname) }}"