WORDPRESS_DB_USER=chbadad
WORDPRESS_DB_PASSWORD="{{ lookup('ansible.builtin.password', '/dev/null', seed=inventory_hostname) }}"
WORDPRESS_DB_HOST=mariadb:3306
WORDPRESS_URL="{{ inventory_hostname }}"
WORDPRESS_TITLE="Hello to cloud-1 !"
WORDPRESS_ADMIN_USER=chbadad42
WORDPRESS_ADMIN_PASSWORD="{{ lookup('ansible.builtin.password', '/dev/null', seed=inventory_hostname) }}"
WORDPRESS_ADMIN_EMAIL=chbadad@student.42.fr
WORDPRESS_USER=chbadad
WORDPRESS_PASSWORD=chbadad