openssl req -x509 -out {{ docker_compose_project_srcs }}/nginx/certs/{{ inventory_hostname }}.crt -keyout {{ docker_compose_project_srcs }}/nginx/certs/{{ inventory_hostname }}.key \
-newkey rsa:2048 -nodes -sha256 \
-subj '/CN={{ inventory_hostname }}' -extensions EXT -config <( printf "[dn]\nCN={{ inventory_hostname }}\n[req]\ndistinguished_name = dn\n[EXT]\nsubjectAltName=DNS:{{ inventory_hostname }}\nkeyUsage=digitalSignature\nextendedKeyUsage=serverAuth")